<% if (locals.id && typeof isVerified === 'function' && isVerified(locals.id)) { %>
    <span class="verified-badge" title="Verified Account">
        <i class="fas fa-check"></i>
    </span>
<% } %>
